<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GroceryList</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@*  this link is generated when the project is created. 
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
*@
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-page="/Index">Home</a>
                </li>
                <li><a asp-area="" asp-page="/ExercisePages/RecordPicking">Record Picking</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
                <partial name="_LoginPartial" />
            </ul>
                    
        </nav>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
            &copy; 2022 - WebApp - NAIT DMIT2018 - GroceryList<a asp-area="" asp-page="/Privacy">Privacy</a>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>